<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" android:installLocation="auto" package="ar.com.basejuegos.simplealarm" platformBuildVersionCode="30" platformBuildVersionName="11">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/simplealarm_new" android:label="@string/app_name" android:name="ar.com.basejuegos.simplealarm.SimpleAlarmApp" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/simplealarm_new_round" android:supportsRtl="true">
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.onboarding.OnboardingActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:name="ar.com.basejuegos.simplealarm.i_am_awake.IAmAwakeActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:name="ar.com.basejuegos.simplealarm.quick_alarms.QuickAlarmsActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.example.myapplication.MainActivity" android:theme="@style/ActivitiesTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SET_ALARM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.SimpleAlarm" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.NewAlarmActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.settings.SettingsActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.OtherAppsActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.faq.FaqActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.night_clock.NightClockActivity" android:theme="@style/ActivitiesTheme"/>
        <activity android:launchMode="singleTop" android:name="ar.com.basejuegos.simplealarm.rate_app.RateAppActivity" android:theme="@style/ActivitiesTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="ar.com.basejuegos.simplealarm"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="ar.com.basejuegos.simplealarm.ringing.AlarmRingingActivity" android:screenOrientation="portrait" android:showForAllUsers="true" android:showOnLockScreen="true" android:showWhenLocked="true" android:theme="@style/ActivitiesTheme" android:turnScreenOn="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6167491024461787~1327162279"/>
        <receiver android:name="ar.com.basejuegos.simplealarm.broadcast_receivers.PackageChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="ar.com.basejuegos.simplealarm.widget.WidgetActionsBroadcastReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="ar.com.basejuegos.simplealarm.broadcast_receivers.InAdvanceNotificationActionsReceiver"/>
        <receiver android:exported="false" android:name="ar.com.basejuegos.simplealarm.broadcast_receivers.AlarmReceiver">
            <intent-filter>
                <action android:name=".RECEIVE_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/app_name" android:name="ar.com.basejuegos.simplealarm.widget.SimpleAlarmWideWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/alarm_widget_info"/>
        </receiver>
        <receiver android:label="@string/app_name" android:name="ar.com.basejuegos.simplealarm.widget.SimpleAlarmThinWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/alarm_widget_info_thin"/>
        </receiver>
        <receiver android:name="ar.com.basejuegos.simplealarm.alarm_patterns.PatternTrackerReceiver"/>
        <receiver android:name="ar.com.basejuegos.simplealarm.broadcast_receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="ar.com.basejuegos.simplealarm.broadcast_receivers.RescheduleReceiver"/>
        <service android:exported="true" android:name="ar.com.basejuegos.simplealarm.notifications.FirstAlarmNotificationService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:foregroundServiceType="mediaPlayback" android:name="ar.com.basejuegos.simplealarm.ringing.RingingForegroundService"/>
        <service android:exported="false" android:name="ar.com.basejuegos.simplealarm.widget.SimpleAlarmWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="true"/>
        <service android:name="ar.com.basejuegos.simplealarm.kill_rescue.KillRescueService" android:stopWithTask="false"/>
        <activity android:exported="false" android:label="Mediation Test Suite" android:name="com.google.android.ads.mediationtestsuite.activities.HomeActivity" android:screenOrientation="portrait" android:theme="@style/gmts_TestSuiteTheme.NoActionBar"/>
        <activity android:exported="false" android:name="com.google.android.ads.mediationtestsuite.activities.NetworkDetailActivity" android:screenOrientation="portrait" android:theme="@style/gmts_AppSecondaryTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="@string/gmts_ad_unit_details_title" android:name="com.google.android.ads.mediationtestsuite.activities.ConfigurationItemDetailActivity" android:screenOrientation="portrait" android:theme="@style/gmts_AppSecondaryTheme.NoActionBar"/>
        <activity android:exported="false" android:name="com.google.android.ads.mediationtestsuite.activities.ConfigurationItemsSearchActivity" android:screenOrientation="portrait" android:theme="@style/gmts_AppSecondaryTheme.NoActionBar"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="androidx.work.impl.WorkManagerInitializer"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <provider android:authorities="ar.com.basejuegos.simplealarm.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:enabled="false" android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="3.0.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="6"/>
    </application>
</manifest>